/* Importing Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open sans', sans-serif;
  font-weight: bold;
}

body {
  padding: 1rem;
}

header {
  font-weight: bolder;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
  flex-flow: column-reverse;
  padding: 2em 2em;
  margin-top: 2rem;
  gap: 3rem;
}

.recent-scores {
  width: 80vw;
  gap: 1rem;
}

ul {
  border: 3px solid #000;
  list-style: none;
  margin-top: 1rem;
}

li {
  padding: 0.3em;
}

li:nth-child(even) {
  background-color: rgb(234, 234, 234);
}

form {
  width: 12rem;
  max-width: 23rem;
  gap: 1rem;
}

div {
  border: none;
  gap: 1rem;
}

.button {
  box-shadow: 3px 3px 3px #000;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  padding: 0.1rem 0.3rem;
}

.add-msg {
  height: 2rem;
}

@media only screen and (min-width: 650px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .recent-scores {
    max-width: 55%;
  }
}
